<section>
  <svg id="static" width="100%" height="2em">
    <g>
        <rect
            width="100%"
            height="100%"
            style="fill:url(#blue_gray_small);" />
        <text
            x="1em"
            y="1.3em"><tspan><%= @sidebar.title %></tspan></text>
    </g>
</svg>
  <div><%= @sidebar.body %></div>
</section>
