<% unless sidebar.authors.blank? -%>
  <section>
    <h1><%= _('Authors') %></h1>
    <ul id="categories">
      <% for user in sidebar.authors -%>
        <li>
          <%= link_to h(user.name), :controller => 'authors', :action => 'show', :id => user.login  %>
          <%= "(#{user.articles.count})" if sidebar.count %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
