    <h1>Archives</h1>
    <ul>
    <% for(var i=0;i<articles.length;i++){ %>
        <li><a href="#archive&amp;month=<%= articles[i].month %>&amp;year=<%= articles[i].year %>"><%= month_names[articles[i].month-1] + ' ' + articles[i].year %></a></li>
        <%}%>
    </ul>