    <h1>Search</h1>
    <form action="/search" method="get">
    <input type="search" id="q" name="q" placeholder="search blog" value="" size="15">
    <input type='submit' value='Search' onclick="javascript:void(0); return false;" class="offline">
    </form>