    <h1>Your status</h1>
    <p>Server status: <span  class="<%= status %>-status" id="status"> checking ...</span></p>
    <p>Last sync:
    <% if(last_sync == undefined) { %>
        "never"
        <% } else {
            var date = new Date(parseInt(last_sync))
        %>
        <%= date.toLocaleTimeString() %>
        <%= date.toDateString() %>
        <% } %>
    </p>
    <p id="sync-link"><a href="#sync">synchronize</a></p>
    <div id="progressbar" class="hidden"><div id="progressbar-wrapper"><div id="progressbar-status">&nbsp;</div></div></div>