    <header>
    <h1>Tags</h1>
    </header>
    <ul id="tag">
    <p style="overflow:hidden">
    <%for(var i = 0; i < tags.length ; i++){%>
        <%= view('views/tag/show',tags[i])%>
        <%}%>
    <% if(!tags.length){ %>
        No tags
    <%}%>
    </p>
    </ul>