<section class="section" id="search">
  <h1>Search results</h1>
  <% for article in @articles -%>
    <%= render :partial => 'article', :object => article  %>
  <% end -%>
  <p id="pagination"><%= will_paginate @articles %></p>
</section>
